{%- section 'acc_heading' -%}
{%- assign return_login = settings.return_login -%}
{%- assign return_register = settings.return_register -%}

<div class="container mt__60 mb__60">
  <div class="row">
     <div class="col-12 offset-md-3 col-md-6  divCreateForm login-form tc">
       <div id="CustomerRegisterForm">
         {%- assign formId = 'RegisterForm' -%}
         {% render "customer-fields", form_id: "qOt6jy" %}
       </div>
     </div>
  </div>
</div>
