<div class="banner__content banner__content--middle-left page-width">
    <div class="banner__box content-container content-container--full-width-mobile ">
      <div class="hand_box_text"><h2 class="banner__heading h0">
              <span class="banner_heading_font">LOREM IPSUM</span>
            </h2><div class="banner__text body">
              <span class="banner_subheading_font">Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem Ipsum has been the ndustry's standard dummy text ever since the 1500s</span>
            </div><div class=" banner__buttons explore_btn1 "><a href="/collections/all" class="button button--secondary">Explore Collection</a></div></div>
    </div>
  </div>